.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    gap: 20px;
}


.form {
    background-color: var(--text-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 30px;
    padding: 30px 30px;
    border-radius: 20px;
}

.formButton {
    margin-top: 10px
}

.title {
    align-self: center;
}
.image {
    width: 120%;
}

.image svg {
    width: 100%; 
    height: auto;
}

.loginForm {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    .image {
        width: 100%;
    }
}