.NotificationPopupWrapper {
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.NotificationPopup {
  position: relative;
  width: 260px;
  height: 96px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.popupHeader {
    border-radius: 8px 8px 0 0;
    padding: 11px 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popupHeader.error {
    background-color: var(--accent-warning-transparent); ;
    color: var(--accent-warning-dark);
    
}

.popupHeader.success {
    background-color: var(--accent-success-transparent); ;
    color: var(--accent-success);
    
}

.popupHeader.warning {
    background-color: var(--accent-warning-yellow-transparent); ;
    color: var(--accent-warning-yellow);
    
}

.popupHeader.info {
    background-color: var(--accent-transparent); ;
    color: var(--accent);
    
}


.popupTitleWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}


.popupContent {
    display: flex;
    align-items: center;
    padding: 11px 27px;
}

.popupText {
    text-align: center;
    font-size: var(--p2-font-size);
}

.closeIcon {
    cursor: pointer;
}

.animateSlideIn {
    animation: slideIn 0.3s ease-in-out;
  }
  
@keyframes slideIn {
from {
    transform: translateX(100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}