.languageSwitchContainer {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
}


.languageName {
    align-self: center;
}

.currentLanguage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.flagIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.openIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.languageList {
    position: absolute;
    top: 30px;
    right: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 147px;
    height: 84px;
    background-color: var(--text-white);
    border-radius: 8px;
    padding: 0 20px;
    z-index: 1000;
}

.languageList.hidden {
    display: none;
}

.languageItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
    gap: 0.5rem;
    cursor: pointer;
}

.languageItemDivider {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--text-gray);
    align-items: center;
    padding: 10px 0;
    gap: 0.5rem;
    cursor: pointer;
}
