.certificateOrder {
  display: flex;
  flex-direction: row;
  gap: 24px;
  width: 100%;
  contain: layout;
  min-height: 400px; 
}

.content {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px; 
}

.infoContainer {
  flex: 1;
  opacity: 1;
  width: 100%;
  transform: translateZ(0);
}


@media (max-width: 600px) {
  .certificateOrder {
    flex-direction: column;
  }
}